In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import matplotlib.image as pltimg
from sklearn.model_selection import train_test_split
from sklearn import metrics
from sklearn import tree
import pydotplus
from sklearn.tree import DecisionTreeClassifier

In [2]:
df = pd.read_csv("identical123", index_col=[0])
df.head()

,AGYSUB,LOC,AGELVL,EDLVL,GSEGRD,LOSLVL,OCC,PATCO,PP,PPGRD,...,SALLVL_S,STEMOCC_S,SUPERVIS_S,TOA_S,WORKSCH_S,WORKSTAT_S,DATECODE_S,EMPLOYMENT_S,SALARY_S,LOS_S
0,AF1Q,40,J,4,12.0,F,1670,2,99,GS-12,...,I,XXXX,8,10,F,1,202109,1,98155.0,17.6
1,AF1Q,40,I,13,13.0,I,1361,2,99,GS-13,...,K,1361,8,10,F,1,202109,1,119787.0,32.3
2,AF1Q,40,I,10,13.0,G,2150,2,99,GS-13,...,K,XXXX,2,10,F,1,202109,1,119787.0,20.7
3,AF1Q,40,J,14,13.0,H,1372,1,99,GS-13,...,K,1372,8,10,F,1,202109,1,119787.0,26.3
4,AF1Q,40,G,10,12.0,E,343,2,99,GS-12,...,H,XXXX,8,10,F,1,202109,1,82655.0,14.8

In [3]:
df["salary_hike"] = df["SALARY_S"] >= df["SALARY"]
df

,AGYSUB,LOC,AGELVL,EDLVL,GSEGRD,LOSLVL,OCC,PATCO,PP,PPGRD,...,STEMOCC_S,SUPERVIS_S,TOA_S,WORKSCH_S,WORKSTAT_S,DATECODE_S,EMPLOYMENT_S,SALARY_S,LOS_S,salary_hike
0,AF1Q,40,J,4,12.0,F,1670,2,99,GS-12,...,XXXX,8,10,F,1,202109,1,98155.0,17.6,True
1,AF1Q,40,I,13,13.0,I,1361,2,99,GS-13,...,1361,8,10,F,1,202109,1,119787.0,32.3,True
2,AF1Q,40,I,10,13.0,G,2150,2,99,GS-13,...,XXXX,2,10,F,1,202109,1,119787.0,20.7,True
3,AF1Q,40,J,14,13.0,H,1372,1,99,GS-13,...,1372,8,10,F,1,202109,1,119787.0,26.3,True
4,AF1Q,40,G,10,12.0,E,343,2,99,GS-12,...,XXXX,8,10,F,1,202109,1,82655.0,14.8,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1275,VAKB,11,I,15,15.0,I,301,2,99,GS-15,...,XXXX,8,10,F,1,202109,1,172500.0,30.3,True
1276,VAKB,11,F,13,15.0,G,343,2,99,GS-15,...,XXXX,8,15,F,1,202109,1,148932.0,21.2,True
1277,VAKB,11,H,13,14.0,D,301,2,99,GS-14,...,XXXX,8,10,F,1,202109,1,130698.0,9.3,True
1278,VAKB,11,E,17,12.0,E,301,2,99,GS-12,...,XXXX,8,10,F,1,202109,1,103690.0,11.8,True
1279,VAKB,11,G,17,14.0,D,301,2,99,GS-14,...,XXXX,8,10,F,1,202109,1,134782.0,6.3,True

In [4]:
df.PPGRD = df.PPGRD.replace({'GS-4': 4, 'GS-5': 5, 'GS-6': 6, 'GS-7': 7, 'GS-8': 8, 'GS-9': 9, 'GS-10': 10, 'GS-11': 11, 'GS-12': 12, 'GS-13': 13, 'GS-14': 14, 'GS-15': 15})
df.PPGRD_S = df.PPGRD_S.replace({'GS-4': 4, 'GS-5': 5, 'GS-6': 6, 'GS-7': 7, 'GS-8': 8, 'GS-9': 9, 'GS-10': 10, 'GS-11': 11, 'GS-12': 12, 'GS-13': 13, 'GS-14': 14, 'GS-15': 15})
df.salary_hike = df.salary_hike.replace({True: 1, False: 0})
data1 = df
data1

,AGYSUB,LOC,AGELVL,EDLVL,GSEGRD,LOSLVL,OCC,PATCO,PP,PPGRD,...,STEMOCC_S,SUPERVIS_S,TOA_S,WORKSCH_S,WORKSTAT_S,DATECODE_S,EMPLOYMENT_S,SALARY_S,LOS_S,salary_hike
0,AF1Q,40,J,4,12.0,F,1670,2,99,12,...,XXXX,8,10,F,1,202109,1,98155.0,17.6,1
1,AF1Q,40,I,13,13.0,I,1361,2,99,13,...,1361,8,10,F,1,202109,1,119787.0,32.3,1
2,AF1Q,40,I,10,13.0,G,2150,2,99,13,...,XXXX,2,10,F,1,202109,1,119787.0,20.7,1
3,AF1Q,40,J,14,13.0,H,1372,1,99,13,...,1372,8,10,F,1,202109,1,119787.0,26.3,1
4,AF1Q,40,G,10,12.0,E,343,2,99,12,...,XXXX,8,10,F,1,202109,1,82655.0,14.8,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1275,VAKB,11,I,15,15.0,I,301,2,99,15,...,XXXX,8,10,F,1,202109,1,172500.0,30.3,1
1276,VAKB,11,F,13,15.0,G,343,2,99,15,...,XXXX,8,15,F,1,202109,1,148932.0,21.2,1
1277,VAKB,11,H,13,14.0,D,301,2,99,14,...,XXXX,8,10,F,1,202109,1,130698.0,9.3,1
1278,VAKB,11,E,17,12.0,E,301,2,99,12,...,XXXX,8,10,F,1,202109,1,103690.0,11.8,1
1279,VAKB,11,G,17,14.0,D,301,2,99,14,...,XXXX,8,10,F,1,202109,1,134782.0,6.3,1

In [5]:
df1 = data1.drop_duplicates()

In [6]:
features = ['EDLVL', 'OCC', 'PATCO', 'PPGRD', 'SUPERVIS', 'TOA', 'EDLVL_S', 'OCC_S', 'PATCO_S', 'PPGRD_S', 'SUPERVIS_S', 'TOA_S']

X = df1[features]
y = df1['salary_hike']

print(X)
print(y)

      EDLVL   OCC  PATCO PPGRD  SUPERVIS  TOA  EDLVL_S  OCC_S  PATCO_S  \
0         4  1670      2    12         8   10        4   1670        2
1        13  1361      2    13         8   10       13   1361        2
2        10  2150      2    13         2   10       10   2150        2
3        14  1372      1    13         8   10       14   1372        1
4        10   343      2    12         8   10       10    343        2
...     ...   ...    ...   ...       ...  ...      ...    ...      ...
1275     15   301      2    15         8   10       15    301        2
1276     13   343      2    15         8   15       13    343        2
1277     13   301      2    14         8   10       13    301        2
1278     17   301      2    12         8   10       17    301        2
1279     17   301      2    14         8   10       17    301        2

     PPGRD_S  SUPERVIS_S  TOA_S
0         12           8     10
1         13           8     10
2         13           2     10
3         13           8     10
4         12           8     10
...      ...         ...    ...
1275      15           8     10
1276      15           8     15
1277      14           8     10
1278      13           8     10
1279      14           8     10

[1270 rows x 12 columns]
0       1
1       1
2       1
3       1
4       1
       ..
1275    1
1276    1
1277    1
1278    1
1279    1
Name: salary_hike, Length: 1270, dtype: int64

In [12]:
# evaluate model using k-fold cross-validation
from numpy import mean
from numpy import std
from sklearn.datasets import make_classification
from sklearn.model_selection import KFold
from sklearn.model_selection import cross_val_score
# prepare the cross-validation procedure
cv = KFold(n_splits=10, random_state=1, shuffle=True)
# create model
model = DecisionTreeClassifier()
# evaluate model
scores = cross_val_score(model, X, y, scoring='accuracy', cv=cv, n_jobs=-1)
# report performance
print('Accuracy: %.3f (%.3f)' % (mean(scores), std(scores)))

Accuracy: 0.650 (0.102)